body {
  box-sizing: border-box;
  background: cyan;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  position: relative;
  top: 280px;
  background: #fff;
  border-radius: 10px;
}

#gender {
  margin-top: 10px;
  height: 36px;
}

.gender {
  position: relative;
  left: -74px;
}

#weight {
  margin-top: 10px;
  height: 30px;
  
}

label {
  margin-top: 15px;
  position: relative;
  left: -55px;
  font-size: 20px;
  font-family: Sans-Serif;
}

#height {
  margin-top: 10px;
  height: 30px;
}

#btn {
  margin-top: 10px;
  height: 40px;
  margin-bottom: 10px;
}

#result {
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

#result2 {
  font-size: 20px;
  color: black;
  margin-top: 20px;
}